/* LOGO TREATMENT
===================================== */

header .logo h1 a {
	font-size: 1em;
	line-height: 1em;	
	margin: 0;
	padding: .2em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #222;
	text-transform: uppercase;
	color: #fff;
}

header .logo h1 {
	display:block;
	width:10em;
	height:10em;
	line-height:10em;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	font-size:1em;
	color:#fff;
	text-align:center;
	text-decoration:none;
	background:#222;
  	font-family: "VarelaRegular";
	text-transform:uppercase;
	margin: 2em auto 0 auto;
	border: 3px solid #fff;
	-moz-box-shadow:    0px 0px 0px 2px #666;
  	-webkit-box-shadow: 0px 0px 0px 2px #666;
  	box-shadow:         0px 0px 0px 2px #666;
}

header .logo p.tagline {
	font-family: "HoneyScriptLight";
	font-size: 1.1em;
	line-height: 1.1em;
	text-align: center;
	color: #ccc;
	text-transform: capitalize;
	margin: -3.8em auto 4.5em auto;
	padding: 0;
	border-bottom: none;
}