/* #Buttons
================================================== */

button, 
a.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    font-size: .8em;
    line-height: .8em;
    font-family: $button-font-family;
    text-transform: uppercase;
    letter-spacing: .2em;
	display: inline-block;
	background-color: rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,0);
	color: rgba(0,0,0,.8);
	padding: .95em .9em .85em 1.1em;
	margin: 1em 0;
    box-shadow: none;
    cursor: pointer;
}

input[type="submit"] {
    /*display: block;*/
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

button.reverse,
a.button.reverse,
input[type="submit"].reverse,
input[type="reset"].reverse ,
input[type="button"].reverse {
	background-color: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,.2);
	color:  rgba(0,0,0,.6);
}

.dark button,
.dark a.button,
.dark input[type="submit"],
.dark input[type="reset"] ,
.dark input[type="button"],
.dark button.reverse:hover, 
.dark a.button.reverse:hover, 
.dark input[type="submit"].reverse:hover,
.dark input[type="reset"].reverse:hover,
.dark input[type="button"].reverse:hover {
	background-color: #fff;
    border: 1px solid #fff;
	color: rgba(0,0,0,.7);
}

.dark button.reverse,
.dark a.button.reverse,
.dark input[type="submit"].reverse,
.dark input[type="reset"].reverse ,
.dark input[type="button"].reverse {
	background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
	color:  #fff;
}

button:hover, 
a.button:hover, 
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button.reverse:hover, 
a.button.reverse:hover, 
input[type="submit"].reverse:hover,
input[type="reset"].reverse:hover,
input[type="button"].reverse:hover{
	background-color: #39c;
    border: 1px solid #39c;
	color: #fff;
}