/* #Images (Responsive)
================================================== */
img.scale-with-grid {
	/*width: 100%;*/
    max-width: 100%;
	height: auto; 
}

a img {
	border: none;
}

/* #Video (Responsive)
================================================== */

.video {
	margin-bottom: 1em;
}
