#nma-triangle-logo {
    padding-right: 1em;

    .cls-1 {
        fill: #97c93c;
    }

    .cls-1,
    .cls-2,
    .cls-3 {
        stroke-width: 0px;
    }

    .cls-2 {
        fill: #339ad3;
    }

    .cls-3 {
        fill: #25699e;
    }
}

#kcc-logo {
    fill: #2753a5;
    stroke-width: 0px;
    padding: .5em 1em;
}