

/* #Block Quotes
================================================== */
blockquote {
	font-size: 1em;
} 

blockquote.quotes:before {
    font-family: Georgia, Times, "Times New Roman", serif;
}

blockquote.quotes:after {
    font-family: Georgia, Times, "Times New Roman", serif;
}



/* @FONT-FACE */

@font-face {
	font-family: 'MuseoSlab500';
    src: url('fonts/Museo/museo_slab_500-webfont.eot');
    src: url('fonts/Museo/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo/museo_slab_500-webfont.woff') format('woff'),
         url('fonts/Museo/museo_slab_500-webfont.ttf') format('truetype'),
         url('fonts/Museo/museo_slab_500-webfont.svg#montserratbold') format('svg');
}

@font-face {
	font-family: 'Museo300';
    src: url('fonts/Museo/museo300-regular-webfont.eot');
    src: url('fonts/Museo/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo/museo300-regular-webfont.woff') format('woff'),
         url('fonts/Museo/museo300-regular-webfont.ttf') format('truetype'),
         url('fonts/Museo/museo300-regular-webfont.svg#montserratbold') format('svg');
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.com */
@font-face {
	font-family: 'MuseoSans500';
    src: url('fonts/Museo/MuseoSans_500-webfont.eot');
    src: url('fonts/Museo/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo/MuseoSans_500-webfont.woff') format('woff'),
         url('fonts/Museo/MuseoSans_500-webfont.ttf') format('truetype'),
         url('fonts/Museo/MuseoSans_500-webfont.svg#montserratbold') format('svg');
}

/* */
@font-face {
    font-family: 'montserratbold';
    src: url('fonts/Montserrat/montserrat-bold-webfont.eot');
    src: url('fonts/Montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat/montserrat-bold-webfont.woff') format('woff'),
         url('fonts/Montserrat/montserrat-bold-webfont.ttf') format('truetype'),
         url('fonts/Montserrat/montserrat-bold-webfont.svg#montserratbold') format('svg');
}

/* */
@font-face {
    font-family: 'nevis';
    src: url('fonts/Nevis/nevis-webfont.eot');
    src: url('fonts/Nevis/nevis-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Nevis/nevis-webfont.woff') format('woff'),
         url('fonts/Nevis/nevis-webfont.ttf') format('truetype'),
         url('fonts/Nevis/nevis-webfont.svg#montserratbold') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/OpenSans/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
}
@font-face {
    font-family: 'OpenSansRegularItalic';
    src: url('fonts/OpenSans/OpenSans-Italic-webfont.eot');
    src: url('fonts/OpenSans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans/OpenSans-Italic-webfont.woff') format('woff'),
         url('fonts/OpenSans/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/OpenSans/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('fonts/OpenSans/OpenSans-LightItalic-webfont.eot');
    src: url('fonts/OpenSans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('fonts/OpenSans/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
}

@font-face {
	font-family: 'OpenSansBold';
    src: url('fonts/OpenSans/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
}

@font-face {
	font-family: 'OpenSansExtraBold';
    src: url('fonts/OpenSans/OpenSans-ExtraBold-webfont.eot');
    src: url('fonts/OpenSans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('fonts/OpenSans/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans/OpenSans-ExtraBold-webfont.svg#OpenSansExtraBold') format('svg');
}

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../../framework/fonts/Chunkfive-webfont.eot');
    src: url('../../framework/fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
url('../../framework/fonts/Chunkfive-webfont.woff') format('woff'),
url('../../framework/fonts/Chunkfive-webfont.ttf') format('truetype'),
url('../../framework/fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PacificoRegular';
    src: url('fonts/Pacifico/Pacifico-webfont.eot');
    src: url('fonts/Pacifico/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/Pacifico/Pacifico-webfont.woff') format('woff'),
url('fonts/Pacifico/Pacifico-webfont.ttf') format('truetype'),
url('fonts/Pacifico/Pacifico-webfont.svg#PacificoRegular') format('svg');
}

@font-face {
    font-family: 'HoneyScriptLight';
    src: url('fonts/HoneyScript/honeyscript-light-webfont.eot');
    src: url('fonts/HoneyScript/honeyscript-light-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/HoneyScript/honeyscript-light-webfont.woff') format('woff'),
url('fonts/HoneyScript/honeyscript-light-webfont.ttf') format('truetype'),
url('fonts/HoneyScript/honeyscript-light-webfont.svg#HoneyScriptLight') format('svg');

}

@font-face {
    font-family: 'BebasRegular';
    src: url('fonts/Bebas/BEBAS___-webfont.eot');
    src: url('fonts/Bebas/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/Bebas/BEBAS___-webfont.woff') format('woff'),
url('fonts/Bebas/BEBAS___-webfont.ttf') format('truetype'),
url('fonts/Bebas/BEBAS___-webfont.svg#BebasRegular') format('svg');
}

@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/BebasNeue/BebasNeue-webfont.woff') format('woff'),
url('fonts/BebasNeue/BebasNeue-webfont.ttf') format('truetype'),
url('fonts/BebasNeue/BebasNeue-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VarelaRegular';
    src: url('fonts/Varela/varela-regular-webfont.eot');
    src: url('fonts/Varela/varela-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Varela/varela-regular-webfont.woff') format('woff'),
         url('fonts/Varela/varela-regular-webfont.ttf') format('truetype'),
         url('fonts/Varela/varela-regular-webfont.svg#varelaregular') format('svg');

}

@font-face {
    font-family: 'SortsMillGoudy';
    src: url('fonts/SortsMillGoudy/GoudyStM-webfont.eot');
    src: url('fonts/SortsMillGoudy/GoudyStM-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SortsMillGoudy/GoudyStM-webfont.woff') format('woff'),
         url('fonts/SortsMillGoudy/GoudyStM-webfont.ttf') format('truetype'),
         url('fonts/SortsMillGoudy/GoudyStM-webfont.svg#varelaregular') format('svg');
}

@font-face {
    font-family: 'Crimson';
    src: url('fonts/Crimson/crimson-roman-webfont.eot');
    src: url('fonts/Crimson/crimson-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Crimson/crimson-roman-webfont.woff') format('woff'),
         url('fonts/Crimson/crimson-roman-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Crimson-bold';
    src: url('fonts/Crimson/crimson-bold-webfont.eot');
    src: url('fonts/Crimson/crimson-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Crimson/crimson-bold-webfont.woff') format('woff'),
         url('fonts/Crimson/crimson-bold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Crimson-italic';
    src: url('fonts/Crimson/crimson-italic-webfont.eot');
    src: url('fonts/Crimson/crimson-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Crimson/crimson-italic-webfont.woff') format('woff'),
         url('fonts/Crimson/crimson-italic-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Aleo-bold';
    src: url('fonts/Aleo/Aleo-Bold-webfont.eot');
    src: url('fonts/Aleo/Aleo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aleo/Aleo-Bold-webfont.woff') format('woff'),
         url('fonts/Aleo/Aleo-Bold-webfont.ttf') format('truetype'),
         url('fonts/Aleo/Aleo-Bold-webfont.svg#aleobold') format('svg');

}

@font-face {
    font-family: 'Aleo-light';
    src: url('fonts/Aleo/Aleo-Light-webfont.eot');
    src: url('fonts/Aleo/Aleo-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aleo/Aleo-Light-webfont.woff') format('woff'),
         url('fonts/Aleo/Aleo-Light-webfont.ttf') format('truetype'),
         url('fonts/Aleo/Aleo-Light -webfont.svg#aleobold') format('svg');

}
