/* #IMAGE GRID
================================================== */

.grid {
    margin: 1% -1%;
}
    
.grid:after {
    content: "";
    display: table;
    clear: both;
}
    
.grid li {
	position: relative;
	height: 0;
	float: left;
	margin: 1%;
	overflow: hidden;
	background: #ddd;
	text-align: center;
    clear: none;
}

.grid .right {
	float: right;
}

.grid a {
    display: block;
	position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
   /* margin: 3px;
	background: #fff;*/
    transition: all 0.1s ease;
}

.grid li:hover {
	/*background: #999;*/
}

.grid li:hover a {
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*margin: 0px;
    border: 3px solid #999;*/
	background: #ddd;
}

.grid img {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 85%; /* you can scale images downward here or keep them at 100% */
	max-height: 85%; /* you can scale images downward here or keep them at 100% */
	width: auto;
	height: auto;
	margin: auto;
}

    
/* 12 col grid */
.grid .w1	{ width: 6.3333%; } /* 98% - 11 gutters = 78% / 12 columns = 6.3333% */
.grid .w2	{ width: 14.6666%; } /* (6.3333 * 2) + (1 * 2) = */
.grid .w3	{ width: 23%; } /* (6.3333 * 3) + (2 * 2) = */
.grid .w4	{ width: 31.3333%; } /* (6.3333 * 4) + (3 * 2) = */
.grid .w5	{ width: 39.6666%; } /* (6.3333 * 5) + (4 * 2) = */
.grid .w6	{ width: 48%; } /* (6.3333 * 6) + (5 * 2) = */
.grid .w7	{ width: 56.3333%; } /* (6.3333 * 7) + (6 * 2) = */
.grid .w8	{ width: 64.6666%; } /* (6.3333 * 8) + (7 * 2) = */
.grid .w9	{ width: 73%; } /* (6.3333 * 9) + (8 * 2) = */
.grid .w10	{ width: 81.3333%; } /* (6.3333 * 10) + (9 * 2) = */	
.grid .w11 	{ width: 89.6666%; } /* (6.3333 * 11) + (10 * 2) = */	
.grid .w12	{ width: 98%; } 
    
.grid .h1	{ padding-top: 6.3333%; } /* 98% - 11 gutters = 78% / 12 columns = 6.3333% */
.grid .h2	{ padding-top: 14.6666%; } /* (6.3333 * 2) + (1 * 2) = */
.grid .h3	{ padding-top: 23%; } /* (6.3333 * 3) + (2 * 2) = */
.grid .h4	{ padding-top: 31.3333%; } /* (6.3333 * 4) + (3 * 2) = */
.grid .h5	{ padding-top: 39.6666%; } /* (6.3333 * 5) + (4 * 2) = */
.grid .h6	{ padding-top: 48%; } /* (6.3333 * 6) + (5 * 2) = */
.grid .h7	{ padding-top: 56.3333%; } /* (6.3333 * 7) + (6 * 2) = */
.grid .h8	{ padding-top: 64.6666%; } /* (6.3333 * 8) + (7 * 2) = */
.grid .h9	{ padding-top: 73%; } /* (6.3333 * 9) + (8 * 2) = */
.grid .h10	{ padding-top: 81.3333%; } /* (6.3333 * 10) + (9 * 2) = */	
.grid .h11 	{ padding-top: 89.6666%; } /* (6.3333 * 11) + (10 * 2) = */	
.grid .h12	{ padding-top: 98%; }  

.grid.samesize li {
	position: relative; 
	width: 23%; /*31.3333%;*/
	height: 0;
	padding-top: 23%; /* 31.3333%; */
	float: left;
	margin: 1%;
	overflow: hidden;
	background: #ddd;
	text-align: center;
}

.grid.samesize img {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 75%; /* you can scale images downward here or keep them at 100% */
	max-height: 75%; /* you can scale images downward here or keep them at 100% */
	width: auto;
	height: auto;
	margin: auto;
}

.grid.white li { background: #fff; }
.grid.white li:hover a { background: #fff; }
.grid.efefef li { background: #efefef; }
.grid.grey808080 li { background: #808080; }
.grid.grey808080 li:hover a { background: #bbb; }
.grid.greyddd li { background: #ddd; }
.grid.greyddd li:hover a { background: #bbb; }
.grid.greyccc li { background: #ccc; }
.grid.greyccc li:hover a { background: #ccc; }


    
.grid.grid-bgswap li {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: none;
}

.grid.grid-bgswap li a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid-bgswap li:hover a {
    background-color: rgba(0,0,0,.05);
    //background: none;
}

//THIN GUTTER GRID
.grid.grid-thin {
    

    li {
        width: 24.5%;
        padding-top: 24.5%;
        margin: .25%;
    }
    
    .w1	 { width: 7.8333%; } /* 99.5% - 11 gutters = 94% / 12 columns = 7.8333% */
    .w2	 { width: 16.1666%; } /* (7.8333 * 2) + (1 * .5) = */
    .w3	 { width: 24.5%; } /* (7.8333 * 3) + (2 * .5) = */
    .w4	 { width: 32.8333%; } /* (7.8333 * 4) + (3 * .5) = */
    .w5	 { width: 41.1666%; } /* (7.8333 * 5) + (4 * .5) = */
    .w6	 { width: 49.5%; } /* (7.8333 * 6) + (5 * .5) = */
    .w7	 { width: 57.8333%; } /* (7.8333 * 7) + (6 * .5) = */
    .w8	 { width: 66.1666%; } /* (7.8333 * 8) + (7 * .5) = */
    .w9	 { width: 74.5%; } /* (7.8333 * 9) + (8 * .5) = */
    .w10 { width: 82.8333%; } /* (7.8333 * 10) + (9 * .5) = */	
    .w11 { width: 91.1666%; } /* (7.8333 * 11) + (10 * .5) = */	
    .w12 { width: 99.5%; } /* (7.8333 * 12) + (11 * .5) = */	
    
    .h1	 { padding-top: 7.8333%; }
    .h2	 { padding-top: 16.1666%; }
    .h3	 { padding-top: 24.5%; }
    .h4	 { padding-top: 32.8333%; }
    .h5	 { padding-top: 41.1666%; }
    .h6	 { padding-top: 49.5%; }
    .h7	 { padding-top: 57.8333%; }
    .h8	 { padding-top: 66.1666%; }
    .h9	 { padding-top: 74.5%; }
    .h10 { padding-top: 82.8333%; }
    .h11 { padding-top: 91.1666%; }
    .h12 { padding-top: 99.5%; }
    
}