//Colors
$color-main: #333; 
$color-background: #fff; 
$color-links: #39c; 
$color-linksdark: #069;  
$color-accent: #c00; 


$color-white: #fff;
$color-grey1: #fdfdfd;
$color-grey2: #fafafa;
$color-grey3: #f7f7f7;
$color-grey4: #f4f4f4;
$color-grey5: #f2f2f2;
$color-grey6: #efefef;
$color-grey7: #ececec;
$color-grey8: #e9e9e9;
$color-grey8-5: #e8e8e8;
$color-grey9: #e7e7e7;
$color-grey10: #e5e5e5;
$color-grey15: #d9d9d9;
$color-grey20: #ccc;
$color-grey25: #bfbfbf;
$color-grey30: #b3b3b3;
$color-grey35: #a6a6a6;
$color-grey40: #999;
$color-grey45: #8c8c8c;
$color-grey50: #808080;
$color-grey55: #737373;
$color-grey60: #666;
$color-grey65: #595959;
$color-grey70: #4d4d4d;
$color-grey75: #404040;
$color-grey80: #333;
$color-grey85: #262626;
$color-grey90: #1a1a1a;
$color-grey95: #0d0d0d;
$color-black: #000;

$color-transblack5: rgba(0,0,0,0.05);
$color-transblack15: rgba(0,0,0,0.15);
$color-transblack25: rgba(0,0,0,0.25);
$color-transblack50: rgba(0,0,0,0.5);
$color-transblack75: rgba(0,0,0,0.75);
